*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items:center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
a{
    text-decoration: none;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
   
}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn{
    display: inline-block;
    background-color:orangered;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-family:sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin-inline-start: 20%;
}
.btn:hover{
    background-color: rgb(0, 190, 248);

}
.header{
    background:radial-gradient(white,#3d81c057);
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30px;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align:center ;
    margin:0 auto 80px ;
    position: relative;
    line-height:60px;
    color: #555;
}
.title::after{
    content: '';
    background:#ff532f;
    width: 80px;
    height: 5px;
    border-radius:5px ;
    position: absolute;
    bottom:0 ;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color:#555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

/*Rating section*/
.rating .fa-solid{
    color: goldenrod;
}
.rating .fa-regular{
    color: goldenrod;
}
.col-4:hover{
    transform: translateY(-5px);
}


/*offer section*/
.offer{
    background:radial-gradient(white,#3d81c057);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding:50px;
}
.col-2 small{
    color: #555;
    font-family: sans-serif;
}

/*Testmonial section*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgb(0,0,0,0.1);
    cursor: pointer;
    transition: transform -0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa-solid.fa-quote-left{
    font-size: 30px;
    color: #ff532f;
}
.col-3 p{
    color: #555;
    font-size: small;
}
.col-3 h3{
    color: #ff532f;
    font-weight: 600px;
    font-size: 16px;

}
/*Brands Section*/
.brands{
    margin: 100px auto;
}
.col-5 img{
    cursor: pointer; 
    width:40mm;
    filter: grayscale(50%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/*Footer section*/
.footer{
    background:#000;
    color:grey;
    font-size:14px;
    padding: 60px 0 20px;
}
.footer p{
    color: grey;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}
.footer-col-1 img{
    margin-top: 20px;
    width: 130px;
}
.footer hr{
    margin-bottom: 20px;
}
.copyright{
    text-align: center;
    font-size:medium;
}

/*Account section*/
/*
.account{


    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:20cm;

}*/

.signup-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: aliceblue;   
    margin-right: 5%;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    

/* for login box*/
.login-img{
    background-image: url(../img/image1.png);
    background-size: 50%;
    background-repeat: no-repeat;
}
.login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: aliceblue;   
    margin-right: 5%;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width:300px;
    margin-left: 20px;
}
form lable{
    display:flex ;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:rgb(169, 21, 255) ;
    color:whitesmoke ;
    font-size:18px ;
    cursor: pointer;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para1{
    text-align: center;
    color: #fa00a7;
    font-size: 15px;
    margin-top: -10px;
}
.para1 a{
    color: #014ca1;
}

/* contact section*/
.contactimg{
  
    background-size: 5%;
    background-repeat: no-repeat;
}
.contact h1{

    font-family:serif;

}
.contact h2{
    font-style: italic;
}
